<!DOCTYPE html>
<html lang="pt-BR">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="container center-align prefix">
                <i class="medium material-icons prefix">pan_tool</i>
                <h5>404 - Pagina não encontrada</h5>
            </div>
    </body>

</html>